[ ca ]
default_ca      = CA_default

[ CA_default ]
policy           = policy_anything

[ policy_anything ]
countryName             = optional
stateOrProvinceName     = optional
localityName            = optional
organizationName        = optional
organizationalUnitName  = optional
commonName              = supplied
emailAddress            = optional

[ req ]
default_bits		    = 2048
distinguished_name	= req_distinguished_name
string_mask         = utf8only
default_md	      	= sha256
x509_extensions     = v3_ca

[ req_distinguished_name ]
countryName			       = Country Name (2 letter code)
stateOrProvinceName		 = State or Province Name
localityName			     = Locality Name
0.organizationName		 = Organization Name
organizationalUnitName = Organizational Unit Name
commonName			       = Common Name
emailAddress			     = Email Address

countryName_default             = US
stateOrProvinceName_default     = WA
localityName_default            =
0.organizationName_default      = SeanK Corp
organizationalUnitName_default  =
emailAddress_default            =

[ v3_ca ]
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid:always,issuer
keyUsage = keyCertSign
basicConstraints = critical, CA:true, pathlen:1

[ v3_intermediate_ca ]
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid:always,issuer
keyUsage = keyCertSign
basicConstraints = critical, CA:true, pathlen:1

[ device_cert ]
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid,issuer:always
keyUsage = digitalSignature, keyEncipherment
extendedKeyUsage = clientAuth
